@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(134, 158, 157);
}
.nav{
    display: flex;
    position:fixed;
    box-shadow: 10px snow;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(27, 52, 68);
    justify-content: space-between;
}
.nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    column-gap: 20px;  
}
.nav.openSearch .nav-links{
    opacity:0;
    pointer-events: none;
}
.nav.openSearch .nav-links a{
    opacity:0;
    pointer-events: none;
}
.nav .nav-links a{
    transition: all 0.2s linear;
}
.nav .logo{
    margin-left: 70px;
    font-size: 25px;
    font-weight: 600;
}
a{ 
    color:#ffff;
    text-decoration: none;
}
.nav .search-icon{
    font-size: 30px;
    color: rgb(139, 139, 212);
    cursor: pointer;
    margin-right: 100px;
}
.nav .search-box{
    height: 40px;
    position: absolute;
    max-width: 500px;
    width: 100%;
    right: 250px;
    opacity:0;
    pointer-events: none;
    transition: all 0.2s linear;
}
.nav.openSearch .search-box{
    opacity:1;
    pointer-events:auto;
}
.search-box .search-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform:translateY(-50%);
}
.search-box input{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 15px 0 50px;   
}
.nav .nav-open,
.nav .nav-close{
    display:none;
}
/*responsive*/
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
    .nav .search-box {
        right: 100px;
    }
}
@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .nav .nav-open,
    .nav .nav-close{
        display: block;
    }
    .nav .nav-links {
        position: fixed;
        flex-direction: column;
        top:0;
        left:-100%;
        row-gap : 30px;
        padding-top: 100px;
        height:100%;
        width:25%;
        flex-direction: column;
        max-width:280px;
        background-color:rgb(50, 47, 47);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }
    .nav.openNav .nav-links{
        left: 0;
    }
    }
    .nav .nav-open{
        color: #ffff;
        font-size: 40px;
        cursor:pointer;
    }
    .nav .nav-close{
        position: absolute;
        top: 20px;
        right:20px;
        color: #ffff;
        font-size: 30px;
        cursor:pointer;
    }
    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 10px);
        right: 50%;
        transform: translate(50%);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    